<body>
    <button routerLink="/auth/inscripcion" class="button-top" onclick="goToSignIn()">Regresar</button>
    <div class="container">
      <div class="card">
        <div class="side-image">
          <img src="/fotos/unajma.jpg" alt="fondo">
        </div>
        <div class="card-content">
          <div class="header">
            <img src="/fotos/unajma.jpg" alt="logounajma" style="width: 50px; height: 50px; margin-bottom: 20px;">
            <h1>Recuperar Contraseña</h1>
          </div>
          <form>
            <label for="email">Tu correo electrónico</label>
            <input type="email" id="email" placeholder="codigo@unajma.edu.pe">
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  
    <script>
      function goToSignIn() {
        window.location.href = "#"; // Reemplaza con la URL de redirección
      }
    </script>
  </body>
