<section class="form-container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <div class="form-group">
      <label for="title">Titulo</label>
      <input type="text" id="title" formControlName="title" />
      <div *ngIf="form.get('title')?.invalid && form.get('title')?.touched"  class="error">
        El título es obligatorio.
      </div>
    </div>

    <div class="form-group checkbox-group">
      <label class="checkbox-container">
        <input type="checkbox" id="completed" formControlName="completed" />
        <span class="checkbox-slider"></span>
        <span class="checkbox-label">Completado</span>
      </label>
    </div>

    <button type="submit" [disabled]="form.invalid">Guardar</button>
  </form>
</section>
