<div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre del Trabajo</th>
          <th>Codigo</th>
          <th>credito</th>
        </tr>
      </thead>
      <tbody>
        @for(task of tasks(); track task.id){
          <tr>
            <td class="product-name">{{task.title}}</td>
            <td>{{task.id}}</td>
            <td>{{task.completed ? 'Completado': 'No completado'}}</td>
            <td>
              <a [routerLink]="['/tasks/edit/' + task.id]" class="edit-link">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="icon icon-edit"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                  <path
                    d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                  />
                  <path d="M16 5l3 3" />
                </svg>
              </a>
              
            </td>
          </tr>
        } @empty {
          <tr>
            
            <td>No hay tareas </td>
           
          </tr>
        }
      </tbody>
    </table>
  </div>
  
