<div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre del curso</th>
          <th>Codigo</th>
          <th>credito</th>
          <th>año</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="product-name">Base de datos"</td>
          <td>IIDA52</td>
          <td>3.0</td>
          <td>2024</td>
        </tr>
        <tr>
          <td class="product-name">Programacion Web</td>
          <td>IIDA31 </td>
          <td>4.0</td>
          <td>2024</td>
        </tr>
        <tr>
          <td class="product-name">Redes de computadora</td>
          <td>IIDA55</td>
          <td>4.0</td>
          <td>2024</td>
        </tr>
      </tbody>
    </table>
  </div>
  
