<div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Product name</th>
          <th>Color</th>
          <th>Category</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="product-name">Apple MacBook Pro 17"</td>
          <td>Silver</td>
          <td>Laptop</td>
          <td>$2999</td>
        </tr>
        <tr>
          <td class="product-name">Microsoft Surface Pro</td>
          <td>White</td>
          <td>Laptop PC</td>
          <td>$1999</td>
        </tr>
        <tr>
          <td class="product-name">Magic Mouse 2</td>
          <td>Black</td>
          <td>Accessories</td>
          <td>$99</td>
        </tr>
      </tbody>
    </table>
  </div>
  
