<body>
  <section class="bg-gray-50 dark:bg-gray-900">
      <div class="container">
          <a href="#" class="logo">
            <img class="logo-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ8JqIWy_Q4JOvy3bftLKFCbke6oxZKCs40w&s" alt="logo">
                UNAJMA-EPIS
          </a>
          <div class="form-container">
              <div class="form-header">
                  <h1>Crea una cuenta</h1>
                  <button class="google-button">Continuar con Google</button>
              </div>
              <form class="form" id="signupForm" [formGroup]="form" (ngSubmit)="submit()">
                  <div class="form-group">
                      <label for="email">Tu correo</label>
                      <input type="email" id="email" name="email" placeholder="name@company.com" required
                      formControlName="email">
                      @if(isRequired('email')){

                        <small >Este campo es requerido</small>
                      }@if(hasEmailError()){

                        <small >El correo debe ser válido</small>
                      }
                      
                  </div>
                  <div class="form-group">
                      <label for="password">Contraseña</label>
                      <input type="password" id="password" name="password" placeholder="••••••••" required
                      formControlName="password">
                      @if(isRequired('password')){

                        <small >Este campo es requerido</small>
                      }
                      
                  </div>
                  <button type="submit" class="submit-button">Crear</button>
                  <p class="footer-text">
                    ¿Ya tienes una cuenta? 
                    <a routerLink ="/auth/inscripcion" class="sign-in-link">Iniciar sesión</a>
                </p>
              </form>
          </div>
      </div>
  </section>
  </body>